{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
<form method="post">
    <h2 class="mt-5 mb-5 h3 font-weight-normal">Connexion : </h2>
    <p>
        <label for="inputEmail">Email : </label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </p>
    <p>
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </p>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <p>
        <a href="{{ path('app_register') }}"> Pas encore de compte ? Inscrivez-vous !</a>
    </p>
    <p>
        <a href="{{ path('app_forget_password') }}"> J'ai oublié mon mot de passe</a>
    </p>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
