{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block bodyheader %}
 <div class="header-body-element w-100 d-flex align-items-center justify-content-center" style="background-image: url('{{asset('media/img/snowboard_wallpaper.jpg')}}');
    height: 30vh;
    background-color: rgb(0, 0, 0);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}">
        <table>
            <tr>
                <td><h2 class="shadow fst-italic align-middle text-light text-center"> Snowboard  </h2></td>
            </tr>
            <tr>
                <td class="fst-italic text-light">"La passion du Snowboard"</td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block body %}
        {% if isAdmin == true %}
            <a href="{{ path('app_creation_figure') }}">
                <button class="btn btn-success"> Ajouter </button>
            </a>
            <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirmDeleteLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="colse-del-modal" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" id="confirm-del-figure">Confirmer la suppression</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    <div id='tricks-card-list' class="my-5 row row-cols-1 row-cols-md-2 g-4">
    </div>    
    <div class="clear">
        <div  class="col d-flex m-5 align-itms-center  justify-content-center ">
            <button id="load_more_tricks_button" class=" btn btn-primary p-3 pr-5 pl-5">
                Load more
            </button>
        </div>
    </div>
{% endblock %}
{% block perso_javascripts %}

    <script src="{{ asset('js/Figure/confirm_delete.js') }}"></script>
    <script src="{{ asset('js/Figure/load.js') }}"></script>
{% endblock %}
{% block perso_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/index.css') }}" />
{% endblock %}