{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }}{% endblock %}

{% block body %}
    <h2 class="mb-5 mt-5 header-body-element"> {{ controller_name }}</h2>

    {{ form_start(registrationForm) }}
        <p>
            {{ form_row(registrationForm.nom_utilisateur) }}
        </p>
        <p>
            {{ form_row(registrationForm.email) }}
        </p>
        <p>
            {{ form_row(registrationForm.plainPassword) }}
        </p>
        <p>
            <label for="confirm-password"> Confirmer le mot de passe : </label>
            <br>
            <input type="password" class="form-control" name="confirm-password" id="confirm-password"/>
        </p>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
