{% extends 'base.html.twig' %}

{% block title %}Création figure{% endblock %}

{% block body %}
<h2 class="mb-5 mt-5"> {{ controller_name }}</h2>
{{ form_start(form) }}
    <p>
        {{ form_row(form.nom) }}
    </p>
    <p>
        {{ form_row(form.image) }}
    </p>
    <p>
        {{ form_row(form.article) }}
    </p>
    <p>
        {{ form_row(form.submit) }}
    </p>
    {% if error is defined %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% elseif success is defined %}
        <p class="alert alert-success">
            {{ success }}
        </p>
    {% endif %}
 {{ form_end(form) }}

{% endblock %}
