{% extends 'base.html.twig' %}

{% block title %}Création figure{% endblock %}

{% block body %}
<h2 class="mb-5 mt-5"> {{ controller_name }}</h2>
{{ form_start(form) }}
    <p>
        {{ form_row(form.nom) }}
    </p>
    <p>
        {{ form_row(form.image) }}
    </p>
    <p>
        <ul class="videoFigures" data-index="{{ form.videoFigures|length > 0 ? form.videoFigures|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.videoFigures.vars.prototype)|e('html_attr') }}">
        </ul>
        {# <button type="button" class="add_item_link" data-collection-holder-class="videoFigures">Ajouter vidéo</button>  #}

        {{ form_widget(form.videoFigures)}}
    </p>
    <p>
        {{ form_row(form.article) }}
    </p>
    <p>
        {{ form_row(form.submit) }}
    </p>
    {% if error is defined %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% elseif success is defined %}
        <p class="alert alert-success">
            {{ success }}
        </p>
    {% endif %}
 {{ form_end(form) }}

{% endblock %}

{% block perso_javascripts %}
    <script type="module" src="{{ asset('js/VideoFigure/module.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/add.js') }}"></script>
{% endblock %}
