{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h2> {{ controller_name }}</h2>
 {{ form_start(form) }}
    <p>
        {{ form_row(form.nom) }}
    </p>
    <p>
        <img style="max-height: 300px; max-width: 400px;" src="{{ asset('media/img/figures/' ~ photo.url) }}">
        {{ form_row(form.photo) }}
    </p>
    <p>
        {{ form_row(form.article) }}
    </p>
    <p>
        {{ form_row(form.submit) }}
    </p>
 {{ form_end(form) }}
{% endblock %}
