{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h2 class="mb-5 mt-5"> {{ controller_name }}</h2>
 {{ form_start(form, {'attr': {'id': 'figure-type'}}) }}
    <p>
        {{ form_row(form.nom) }}
    </p>
    <p>
        <div class="row">
            {% for photo in figure.photoFigures %}
                <div class="card m-3" id="card_photo_{{ photo.id }}" style="width: 18rem">  
                    <img class="card-img-top" id='photo_figure_{{ photo.id }}' src="{{ asset('media/img/figures/' ~ photo.ImageUrl) }}">
                    <div class="card-footer">
                        <button class="btn btn-danger image-delete-button" photodelbtn="{{photo.id}}" > Supprimer </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for video in figure.videoFigures %}
                <div class="card m-3" id="card_video_{{ video.id }}" style="width: 18rem">  
                    <iframe width="250" height="140" id='video_figure_{{ video.id}}' src="{{ video.urlVideo }}"></iframe>
                    <div class="card-footer">
                        <button class="btn btn-danger video-delete-button" videodelbtn="{{video.id}}" > Supprimer </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        {{ form_row(form.image) }}

    </p>
    <p>
        <ul class="videoFigures" data-index="{{ form.videoFigures|length > 0 ? form.videoFigures|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.videoFigures.vars.prototype)|e('html_attr') }}">
            {{ form_widget(form.videoFigures)}}
        </ul>
        {# <button type="button" class="add_item_link" data-collection-holder-class="videoFigures">Ajouter vidéo</button>  #}

        
    </p>
    <p>
        {{ form_row(form.article) }}
    </p>
    <p>
        {{ form_row(form.submit) }}
    </p>
    {% if error is defined %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% elseif success is defined %}
        <p class="alert alert-success">
            {{ success }}
        </p>
    {% endif %}
 {{ form_end(form) }}
{% endblock %}

{% block perso_javascripts %}
    <script type="module" src="{{ asset('js/VideoFigure/module.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/videoFieldController.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/cancel.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/add.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/delete.js') }}"></script>
{% endblock %}
