{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}{% endblock %}
{% block bodyheader %}
    <div class="header-body-element w-100 d-flex align-items-center justify-content-center" style="background-image: url('{{asset('media/img/figures/' ~ figure.coverImageUrl )}}');
    background-color: rgb(0, 0, 0);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}">
        <h2 class="shadow fst-italic align-middle text-light text-center p-5 m-3"> Edition : {{figure.nom}}  </h2>
        
    </div>
{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'id': 'figure-type'}}) }}
    <div class="row mt-5 mb-5 d-flex justify-content-center optional-content">
            <div class="row">
                {% for photo in figure.photoFigures %}
                    <div class="col m-1 p-1" media-container>
                        <img class="mb-1" style="max-height: 155px; max-width: 250px;" src="{{ asset('media/img/figures/' ~ photo.ImageUrl) }}">
                        <div>
                            <button class="m-1 btn btn-danger photo-delete-button" photodelbtn="{{photo.id}}" > Supprimer </button>
                        </div>
                    </div>
                {% endfor %}
                {% for video in figure.videoFigures %}
                    <div class="col  m-1 p-1" media-container>
                        <iframe class="mb-1" width="250" height="155" src="{{video.UrlVideo}}">
                        </iframe>
                         <div >
                            <button class="m-1 btn btn-danger video-delete-button" videodelbtn="{{video.id}}" > Supprimer </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <p>
        {{ form_row(form.coverImage) }}
    </p>
    <p>
        {{ form_row(form.nom) }}
    </p>
    <p>

    {{ form_row(form.image) }}

    </p>
    <p>
        <ul class="videoFigures" data-index="{{ form.videoFigures|length > 0 ? form.videoFigures|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.videoFigures.vars.prototype)|e('html_attr') }}">
            {{ form_widget(form.videoFigures)}}
        </ul>   
    </p>
    <p>
        {{ form_row(form.article) }}
    </p>
    <p>
        {{ form_row(form.groupe) }}
    </p>
    <p>
        {{ form_row(form.submit) }}
    </p>
    {% if error is defined %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% elseif success is defined %}
        <p class="alert alert-success">
            {{ success }}
        </p>
    {% endif %}
 {{ form_end(form) }}
{% endblock %}

{% block perso_javascripts %}
    <script type="module" src="{{ asset('js/VideoFigure/module.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/videoFieldController.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/cancel.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/add.js') }}"></script>
    <script src="{{ asset('js/VideoFigure/delete.js') }}"></script>
    <script src="{{ asset('js/PhotoFigure/delete.js') }}"></script>

{% endblock %}
