{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
    <div class="row mt-5 mb-5 d-flex justify-content-center optional-content">
        <div class="col text-center">
            <img class="img-figure" src="{{ asset('media/img/figures/') }}{{data.photo.url}}"/>
        </div>
        <div class="col">
            <h2> {{ controller_name }}</h2>
        </div>
    </div>
    <p class="mt-5 mb-5">
        {{ data.figure.article|nl2br}}
    </p>
    <div id="message-zone">
    </div>
    <script>
        var element = document.getElementById("message-zone");
        element.scrollTop = element.scrollHeight;
    </script>
    <div>
        {% if app.user %}
            {{ form_start(form, {'attr': {'id': 'message-form', 'class': 'row'}}) }}
                <div class="d-flex col-3 md-col-4">
                    {{ form_row(form.submit) }}
                </div>
                <div class="col-9 md-col-8">
                    {{ form_widget(form.message) }}

                </div>         
            {{ form_end(form) }}
        {% else %}
            <form class="row my-3">
                <div class="d-flex col-3 md-col-4">
                    <button class="btn btn-light position-relative  start-50" disabled> Envoyer </button>
                </div>
                <div class="col-9 md-col-8">
                    <textarea class="form-control lead right-message bg-light bg-gradient" name="right-message" id="right-message" disabled> </textarea>
                </div>
            </form>
        {% endif %}
        <span id="slug">{{data.figure.slug}}</span>
    </div>
{% endblock %}
{% block perso_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/figure/index.css') }}">
{% endblock %}
{% block perso_javascripts %}
    <script src="{{ asset('js/message_autoload.js') }}"></script>
    <script src="{{ asset('js/send_message_async.js') }}"></script>
{% endblock %}
