{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
    <div class="row mt-5 mb-5">
        <div class="col-5">
            <img class="img-figure" src="{{ asset('media/img/figures/') }}{{data.photo.url}}"/>
        </div>
        <div class="col-4">
            <h2> {{ controller_name }}</h2>
        </div>
    </div>
    <p class="mt-5 mb-5">
        {{ data.figure.article }}
    </p>
    <div>
        <div>
            <div class="d-flex flex-row message border-top border-bottom m-0 p-3 bg-light bg-gradient">
                <div class="mx-3" style=" height: 100%;">
                    <div class="lead utilisateur-message" style="font-weight: 500; min-width: 100px;"> Mario El Piza </div>
                    <div class="small date-message"> 17/07/2002 19:00:00</div>
                </div>
                <div class="lead corps-message ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
             <div class="d-flex flex-row message border-top border-bottom m-0 p-3 bg-light bg-gradient">
                <div class="mx-3" style=" height: 100%;">
                    <div class="lead utilisateur-message" style="font-weight: 500; min-width: 100px;"> Mario El Piza </div>
                    <div class="small date-message"> 17/07/2002 19:00:00</div>
                </div>
                <div class="lead corps-message ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
             <div class="d-flex flex-row message border-top border-bottom m-0 p-3 bg-light bg-gradient">
                <div class="mx-3" style=" height: 100%;">
                    <div class="lead utilisateur-message" style="font-weight: 500; min-width: 100px;"> Mario El Piza </div>
                    <div class="small date-message"> 17/07/2002 19:00:00</div>
                </div>
                <div class="lead corps-message ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="d-flex flex-row message border-top border-bottom m-0 p-3 bg-light bg-gradient"> 
                <div class="mx-3" style=" height: 100%;">
                    <div class="lead utilisateur-message" style="font-weight: 500; min-width: 100px;"> Mario El Piza </div>
                    <div class="clear small date-message"> 17/07/2002 19:00:00</div>
                </div>
                <div class="lead corps-message ">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>        
            </div>
        </div>
        <div>
            <form class="row my-3">
                <div class="d-flex col-3 md-col-4">
                    <button class="btn btn-primary position-relative  start-50"> Envoyer </button>
                </div>
                <div class="col-9 md-col-8">
                    <textarea class="form-control lead right-message bg-light bg-gradient" name="right-message" id="right-message"> </textarea>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block perso_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/figure/index.css') }}">
{% endblock %}
