{% extends 'base.html.twig' %}
{% block title %}Figure {% endblock %}
{% block bodyheader %}
 <div class="header-body-element w-100 d-flex align-items-center justify-content-center" style="background-image: url('{{asset('media/img/figures/' ~ imageHeader.imageUrl )}}');
    background-color: rgb(0, 0, 0);
    background-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}">
        <table>
            <tr>
                <td><h2 class="shadow fst-italic align-middle text-light text-center"> {{figure.nom}}  </h2></td>
            </tr>
        </table>
        
    </div>
{% endblock %}
{% block body %}
    <div class="row mt-5 mb-5 d-flex justify-content-center optional-content">
        <div id="media" >
            {% for photo in figure.photoFigures %}
        
                <img class="m-3" style="max-height: 155px; max-width: 250px;" src="{{ asset('media/img/figures/' ~ photo.ImageUrl) }}">

            {% endfor %}
            {% for video in figure.videoFigures %}
                <iframe class="m-3" style="max-height: 155px; max-width: 250px;" src="https://www.youtube.com/embed/{{video.UrlVideo}}">
                </iframe>
            {% endfor %}
        </div>
        <div class="m-5 p-1 text-center">

            <button class="btn btn-primary" id="see-media"> Afficher les médias </button>

        </div>
    </div>
    <p class="mt-5 mb-5">
        {{ figure.article|nl2br}}
    </p>
     <div>
        {% if app.user %}
            {{ form_start(form, {'attr': {'id': 'message-form', 'class': 'row my-5'}}) }}
                <div class="col-9 md-col-8">
                    {{ form_widget(form.message) }}

                </div>
                <div class="d-flex col-3 md-col-4">
                    {{ form_row(form.submit) }}
                </div>
            {{ form_end(form) }}
        {% endif %}
        <div class="text-center">
            <button class="btn btn-light m-3" id="see-more-message"> Voir plus </button>
        </div>
        <span id="slug">{{figure.slug}}</span>
    </div>
    <div id="message-zone">
    </div>
    <script>
        var element = document.getElementById("message-zone");
        element.scrollTop = element.scrollHeight;
    </script>
{% endblock %}
{% block perso_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/figure/index.css') }}">
{% endblock %}
{% block perso_javascripts %}
    <script src="{{ asset('js/Figure/detail.js') }}"></script>
    <script src="{{ asset('js/Message/load.js') }}"></script>
    <script src="{{ asset('js/Message/send.js') }}"></script>
{% endblock %}
