<div id='tricks-card-list'>
    {% for figure in figures %}
        <div class="col tricks-col {{figure.slug}} d-flex justify-content-center" id="tricks-lmnt-{{figure.slug}}">
            <div class="tricks-card card">
                <img class="top-img-card" src="{{ asset('media/img/figures/')}}{{figure.imageUrl}}" alt="{{figure.nom}}"/>
                <div class="card-body">
                    <a href="{{ path('app_figure', {slug: figure.slug } ) }}" >
                        <h3 class="col-8 h4 text-dark"> {{figure.nom}} </h3>
                    </a>
                    {% if isAdmin == true %}
                        <div class="col-2 edit-card-div">
                            <a href="{{ path('app_edition_figure', {slug: figure.slug } ) }}">
                                <svg class="icone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-2 trash-card-div">
                            <a href="#" class="del-figure-btn" link="{{ path('app_supression_figure', { slug : figure.slug  } ) }}" slug="{{figure.slug}}" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                                <svg class="icone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M296 432h16a8 8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v272a8 8 0 0 0 8 8zm-160 0h16a8 8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v272a8 8 0 0 0 8 8zM440 64H336l-33.6-44.8A48 48 0 0 0 264 0h-80a48 48 0 0 0-38.4 19.2L112 64H8a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8h24v368a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V96h24a8 8 0 0 0 8-8V72a8 8 0 0 0-8-8zM171.2 38.4A16.1 16.1 0 0 1 184 32h80a16.1 16.1 0 0 1 12.8 6.4L296 64H152zM384 464a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16V96h320zm-168-32h16a8 8 0 0 0 8-8V152a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v272a8 8 0 0 0 8 8z"/>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
