{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
    <h2 class="header-body-element"> {{ controller_name }}</h2>
    {% if edit_pssw_form is defined %}
        {{ form_start(edit_pssw_form) }}
        
            <p>
                {{ form_row(edit_pssw_form.password) }}
            </p>
            <p>
                {{ form_row(edit_pssw_form.passwordConf) }}
            </p>
            <p>
                {{ form_row(edit_pssw_form.submit) }}
            </p>

        {{ form_end(edit_pssw_form) }}
    {% else %}
        <p>Erreur : {{erreur}} </p>
    {% endif %}
    <div class="status_message_container">
        <div id="status_message" class="alert alert-danger d-none" role="alert">
        </div>
    </div>

{% endblock %}
{% block perso_javascripts %}
    <script src="{{ asset('js/editpassword.js') }}"></script>
{% endblock %}
